.footerStyle {	
	vertical-align: middle;	
	background-color: #990f3d;
	color: #FFFFFF;
	bottom: 0;
	width: 100vw;
	position: fixed;
}

.copyright {
	text-align: center;
	margin: 0;
	vertical-align: middle;
	padding: 0.225rem 0;
	font-size: 0.5rem;
}


@media (min-width: 40rem) {
	.copyright {
		font-size: 0.8rem;
	}
	.bottom {
		margin-bottom: 2rem;
	}
}
