TestNavWelcomecombine {
    top: 10vh;
    left: 27vw;
}

.WelcomeTitle {
    position: absolute;
    top: 10vh;
    left: 27vw;
    color: black;
    -webkit-text-fill-color: #fff1e5; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #990f3d;
    font-size: 10vw;
    margin: 0;
    font-family: Cursive;
}
.WelcomeNav {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 29vh;
    left: 50vw;
    width: 50.5vw;
}
.WelcomeNav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.WelcomeNav_li {
    float: left;
}
.WelcomeNav_li a {
    overflow: hidden;
    background-color: #990f3d;
    display: block;
    color: white;
    text-align: center;
    padding: 2vw;
    font-size: 2vw;
    text-decoration: none;
} 
.WelcomeNav_li a:hover {
    background-color: #111111;
}
.WelcomeImage {
    position: absolute;
    top: 65vh;
    left: 50vw;
    width: 45.25vw;
    transform: translate(-50%, -50%);

}

@media (min-width: 53rem) {
    .WelcomeTitle {
        top: 40vh;
        left: 20vw;
        transform: translate(-50%, -50%);
        font-size: 8vw;
    }    
    .WelcomeNav {
        top: 55vh;
        left: 27vw;
        transform: translate(-50%, -50%);
    }      
    .WelcomeNav_li a {
        padding: 2vw;
        font-size: 1.5vw;

    } 
    .WelcomeImage {
        top: 50vh;
        left: 75vw;
        transform: translate(-50%, -50%);
    }
}