.WelcomeTitle {
    
}

.WelcomeNav {
    display: inline;
    float: left;
}
.WelcomeNav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #990f3d;
}
.WelcomeNav_li {
    float: left;
}
.WelcomeNav_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
} 
.WelcomeNav_li a:hover {
    background-color: #111111;
}

.WelcomeImage {
    float: right;
    width: 55%;
}